@{
    ViewData["title"] = "Login";
    Layout = "~/views/shared/_appSplash.cshtml";
}

<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reset yout Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="resetPassordForm" class="needs-validation" novalidate>
                    <div class="form-group">
                        <input type="password" name="password" required class="form-control" placeholder="enter your new password" />
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" name="confirmPassword" required class="form-control" placeholder="Confirm Password" />
                            <div class="input-group-append">
                                <span class="btn btn-primary" id="loginButtonContainer">
                                    <a id="loginbtn" class="text-white buttonSet" onclick="loginUser()">Login <i class="mt-1 fa fa-arrow-circle-right"></i></a>
                                    <a id="loginbtnSpinner" class="text-white buttonSet" style="display: none">
                                        <span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
                                        Please Wait
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        //check for token in params
        let token = new URLSearchParams(window.location.search).get("token");
        if (token != undefined) {
            $('#exampleModal').modal('show');
            Swal.fire({ title: "Verifying Token", type: "info", message: "Please wait while I verify your token." });
            var myData = JSON.stringify({ "token": token, "password": $('#resetpassword').val() });
            //net3000.common.verifyLoginLink({ parameters: myData, callBackFunction: loginAndForward });
            //function loginAndForward(myResponse) {
            //    Swal.close();
            //    $("#loginMsg").html(net3000.common.msgBox(myResponse));
            //    if (myResponse.code == 200) {
            //        window.location = myResponse.data;
            //    }
            //}
        }

        @if(ViewData["redirect"] != null && (bool)ViewData["redirect"] == true) {
        @Html.Raw("net3000.common.handlePromise({ apiurl: '/api/redirectuser', parameters: {callBackFunction: redirectMe}});")
        }
    });
</script>