@model snn.snn_Insight
@section headercode {
    <link href="~/js/ckeditor/theme.css" rel="stylesheet" />
}
<h1>
    @ViewData["title"]
</h1>
<form asp-action="saveInsight" method="post">
    <div class="form-group row">
        <div class="col-sm-6">
            <label>Title</label>
            <input type="text" asp-for="title" class="form-control" />
        </div>
        <div class="col-sm-2">
            <label>Date</label>
            <input type="datetime-local" asp-for="create_time" class="form-control" />
        </div>
        <div class="col-sm-2">
            <label>Type</label>
            <select asp-items="ViewBag.types" class="form-control" asp-for="type">
                <option value="null">Select Type</option>
            </select>
        </div>
        <div class="col-sm-2">
            <label>Status</label>
            <select asp-items="ViewBag.statuses" class="form-control" asp-for="ref_Status">
                <option value="null">Select Status</option>
            </select>
        </div>
    </div>

<textarea asp-for="body" id="body"></textarea>

<div class="border-top border-bottom py-2 mt-3">
    <div class="row">
        <div class="col">
            <a class="btn-outline-secondary btn" href='@Url.Action("index")'>Back</a>
        </div>
        <div class="col text-right">
            <button class="btn-primary btn" type="submit">Save</button>
        </div>
    </div>
</div>
</form>
<script src="~/js/ckeditor/ckeditor.js"></script>



<script>
    $(function () {
        createEditor("#body");
    })
</script>