@model snn.snn_Insight
<h1>
    Details
</h1>

<dir>
    <table>
        <tr>
            <td>Title</td>
            <td>@Model.title</td>
        </tr>
        <tr>
            <td>image</td>
            <td>@Model.image</td>
        </tr>
        <tr>
            <td>url</td>
            <td>@Model.src</td>
        </tr>
    </table>
</dir>