<div id="insights">
    <h1>{{title}}</h1>
    <div v-html="msgBox"></div>
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="form-group">
                <select asp-items="ViewBag.types" v-model.number="typeId" class="form-control"  v-on:change="search()">
                    <option value="null">Filter Type</option>
                </select>
            </div>
        </div>
      
        <div class="col-md-4">
            <form v-on:submit.prevent="search()" method="post">
                <div class="input-group">
                    <input class="form-control" type="search" v-model="keywords" placeholder="search by title">
                    <div class="input-group-append ">
                        <button type="button" class="btn btn-secondary" v-on:click="search()">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4 text-right">
            <a class="btn btn-primary" href='@Url.Action("details")'>Create Insight</a>

        </div>
    </div>

    <table class="table">
        <thead class="thead-blue">
            <tr>
                <th><input type="checkbox" v-model="selectAll" v-on:change="selectionChange()" /></th>
                <th>
                    ID
                </th>
                <th>
                    Date
                </th>
                <th>
                    Title
                </th>
                <th>
                    Type
                </th> <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="insight of fullList">
                <td><input type="checkbox" class="chk" v-model.number="recs" name="recs" :value="insight.id" /></td>
                <td>
                    {{ insight.id }}
                </td>
                <td>
                    {{ dateFormat(insight.create_time) }}
                </td>
                <td>
                    {{ insight.title }}
                </td>
                <td>
                    {{ insight.type }}
                </td> 
                <td class="text-right">
                    <div class="btn-group btn-group-sm">
                        <a v-on:click="deleteInsight(insight)" class="btn btn-outline-secondary btn-sm" title="Delete" id="insight.id"><i class="fa fa-trash"></i></a>
                        <a :href="'/admin/Insights/details/' + insight.id" class="btn btn-secondary" title="Edit"><i class="fa fa-edit"></i></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div v-if="showloader" class="text-center">
        <button v-on:click="loadNextPage()" class="btn btn-primary"> Load more ...</button>
    </div>
    <div id="MyPopup" class="py-4 text-center actionButtons fixed-bottom bg-black-opacity50" :style="showactionBar">
        <div class="form-inline">
            <div class="input-group mx-auto">
                <select class="form-control" v-model="action">
                    <option :value="null">Select Action</option>
                    <option value="delete">Delete Selected</option>
                    <option value="125">Set as Public</option>
                </select>
                <div class="input-group-append">
                    <button id="Button1" v-on:click="takeAction()" class="btn btn-primary">Go</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    insightsListData = @Html.Raw(ViewData["insights"]);
</script>
<script src="/js/admin/insights.js?v=90"></script>