<div id="alerts">
    <h1>{{title}}</h1>
    <div v-html="msgBox"></div>
    <div class="row mb-4">

        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label">Category</label>
                <select asp-items="ViewBag.categories" v-model.number="categoryId" class="form-control" v-on:change="search()">
                    <option value="0">None</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
        
                <form v-on:submit.prevent="search(true)" method="post">
                    <div class="input-group">
                        <input class="form-control" type="search" v-model="keywords" placeholder="search by title">
                        <div class="input-group-append ">
                            <button type="button" class="btn btn-secondary" v-on:click="search()">Search</button>
                        </div>
                    </div>
                </form>

        </div>
            <div class="col-md-3 text-right">
                <a class="btn btn-primary" href='@Url.Action("details")'>Create Alert</a>

            </div>
        </div>


        <table class="table">
            <thead class="thead-blue">
                <tr>
                    <th><input type="checkbox" v-model="selectAll" v-on:change="selectionChange()" /></th>
                    <th>
                        ID
                    </th>
                    <th>
                        Date
                    </th>
                    <th v-if="categoryId == 0">
                        Category
                    </th>
                    <th>
                        Details
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="alert of fullList">
                    <td><input type="checkbox" class="chk" v-model.number="recs" name="recs" :value="alert.id" /></td>
                    <td>
                        {{ alert.id }}
                    </td>
                    <td>
                        {{ dateFormat(alert.date) }}
                    </td>
                    <td v-if="categoryId == 0">
                        {{ alert.category.category }}
                    </td>
                    <td>
                        {{ alert.details }}
                    </td>
                    <td class="text-right">

                        <div class="btn-group btn-group-sm">
                            <a v-on:click="deletealert(alert)" class="btn btn-outline-secondary btn-sm" title="Delete" :id="alert.id"><i class="fa fa-trash"></i></a>
                            <a :href="'snn_Alerts/details/' + alert.id" class="btn btn-secondary" title="Edit"><i class="fa fa-edit"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div v-if="showloader" class="text-center">
            <button v-on:click="loadNextPage()" class="btn btn-primary"> Load more ...</button>
        </div>
        <div id="MyPopup" class="py-4 text-center actionButtons fixed-bottom bg-black-opacity50" :style="showactionBar()">
            <div class="form-inline">
                <div class="input-group mx-auto">
                    <select class="form-control" v-model="action">
                        <option value="delete">Delete Selected</option>
                    </select>
                    <div class="input-group-append">
                        <button id="Button1" v-on:click="deletealert()" class="btn btn-primary">Go</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    alertsListData = @Html.Raw(ViewData["alerts"]);
</script>
<script src="/js/admin/alerts.js?v=990"></script>